<!-- 商品リスト -->
<div class="flex justify-center pt-10 antialiased">
    <div class="flex flex-col md:w-3/4">
        <h1 class="ml-1 text-2xl font-bold md:text-4xl">商品リスト</h1>
        <h2 class="ml-1 py-3 text-lg text-gray-700 md:text-2xl">
            <%= @column_name+"の" if @column_name %>検索結果 : <%= @keyword %>
        </h2>
        <% if @products.present? %>
            <form class="flex max-w-sm items-center">
            <label for="sort-select" class="ml-1 block text-lg text-gray-900"
                >並び替え :
            </label>
            <select
                id="sort-select"
                class="ml-2 block w-1/2 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            >
                <option selected>高評価順</option>
                <option value="new">新着順</option>
                <option value="high-price">高価格順</option>
                <option value="low-price">低価格順</option>
            </select>
            </form>

            <div class="grid grid-cols-2 items-center gap-4 py-4 md:grid-cols-5">
                <% @products.each do |product| %>
                    <div class="rounded-lg bg-gray-200 p-3">
                        <!-- 商品情報は、商品毎に異なります -->
                        <a
                        href="#"
                        class="text-lg text-sky-400 hover:text-orange-400 hover:underline"
                        >
                        <img
                            class="mb-2 h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
                            alt=""
                        />
                        <%= product.name %>
                        </a>
                        <!-- 物理商品 or デジタル商品 のどちらか -->
                        <p>デジタル商品</p>
                        <!-- 星評価を★と☆で表現する -->
                        <p class="pb-1 text-orange-500">★★★★★</p>

                        <!-- 在庫がある場合 -->
                        <span class="text-xl">¥100</span>
                        <!-- 在庫がない場合 -->
                        <!-- <span class="rounded-md bg-red-500 p-1 font-bold text-white"
                        >SOLD OUT</span
                    > -->
                    </div>
                <% end %>
            </div>

            <!-- ページネーション -->
            <%= render 'layouts/pagenation' %>
        <% else %>
            <p class="text-center text-lg md:text-2xl py-6">商品がみつかりませんでした</p>
        <% end %>
    </div>
</div>
