<footer class="border-gray-200 bg-white  dark:text-white dark:bg-gray-800">
    <div class="flex justify-around md:justify-center md:space-x-24">
        <div class="flex space-y-4 py-6">
            <ul class="space-y-4">
                <li>
                    <h3 class="text-lg font-bold md:text-xl">Art-SA2について</h3>
                </li>
                <li>
                    <%= link_to 'Art-SA2', root_path, data: { turbo_method: :get }, class: 'text-sm font-bold hover:underline md:text-base' %>
                </li>
                <li>
                    <a href="https://github.com/recursion-backend-projects/E-Commerce-Webapp-with-Stripe-Sync" class="text-sm font-bold hover:underline md:text-base">ご利用ガイド</a>
                </li>
            </ul>
        </div>
        <div class="flex space-y-4 py-6">
            <ul class="space-y-4">
                <li>
                    <h3 class="text-lg font-bold md:text-xl">コーポレート</h3>
                </li>
                <li>
                    <%= link_to 'お問い合わせ', new_contact_path, data: { turbo_method: :get }, class: 'text-sm font-bold hover:underline md:text-base' %>
                </li>
            </ul>
        </div>
    </div>
    <div class="border-gray-600 py-3 text-center">
        <p>© 2024 Art-SA2</p>
    </div>
</footer>