<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h3>ご注文番号 <%= @order.order_number %> の商品を発送いたしました。</h3>
        <p>お客様のご注文は配送中です。</p>
        <p>追跡番号から配送状況をご確認いただけます。</p>
        <p><%= I18n.t("shipping.carriers.#{@shipping.carrier}")  %> 追跡番号: <code><%= @shipping.tracking_number %></code></p>
        <h3>配送中のアイテム</h3>
        <% @order.order_items.each do |order_item|%>
            <% if order_item.product.physics? %>
                <h4><%= order_item.product.name + ' × ' +  order_item.quantity.to_s %></h4>
            <% end %>
        <% end %>
        <p>ご質問やご不明な点がございましたら、下記アドレスまでお問い合わせ頂きますようお願い致します。</p>
        <p>E-Mail: art-sa2.shop@gmail.com</p>
    </body>
</html>