<!-- レビュー記入 -->
<div
class="flex flex-col items-center divide-y-2 divide-gray-300 pt-10 antialiased"
>
    <div
        class="flex w-full flex-col items-center justify-center pb-10 md:w-3/4 md:flex-row md:items-start"
    >
        <!-- 商品画像 -->
        <%= image_tag 'sample_image.jpg', class: 'block w-2/3 rounded-lg shadow-xl md:w-1/3' %>
        <!-- 商品情報 -->
        <div
        class="w-full space-y-2 px-12 py-4 md:w-1/2 md:px-2 md:py-0 lg:w-1/3 lg:px-12"
        >
        <a href="#">
            <h1
            class="text-xl text-sky-400 hover:text-orange-400 hover:underline lg:text-2xl"
            >
            <%= @product.name %>
            </h1>
        </a>
        <p class="text-sm lg:text-base">作者 : エミリオ・ヴァレンティ</p>
        <p class="text-sm lg:text-base">リリース日 : 2021年4月25日</p>
        <!-- 星評価を★と☆で表現する -->
        <p class="text-sm font-bold text-orange-500 lg:text-base">
            総合評価 : ★★★★★
        </p>
        </div>
    </div>

    <!-- レビュー記入フォーム -->
    <div class="flex w-full flex-col py-4 md:w-1/2 lg:w-1/3">
        <div
        class="container items-center justify-center space-y-4 px-6 md:pl-0"
        >
        <h2 class="text-center text-xl md:text-2xl">レビューを書く</h2>
        <p class="text-center text-base text-gray-500 md:text-lg">
            購入した商品への思いを投稿しよう
        </p>

        <form
            action="#"
            method="post"
            class="space-y-4 rounded-xl border border-gray-200 bg-white p-4 shadow-xl"
        >
            <div>
            <label for="title">タイトル</label>
            <input
                type="text"
                name="title"
                class="w-full rounded border border-gray-300 p-2"
            />
            </div>
            <div>
            <label for="comment">コメント</label>
            <textarea
                name="comment"
                rows="4"
                class="w-full rounded border border-gray-300 p-2"
            ></textarea>
            </div>
            <div>
            <label
                for="star-rate-select"
                class="ml-1 block text-lg text-gray-900"
                >評価</label
            >
            <select
                id="star-rate-select"
                class="ml-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            >
                <option disabled selected>評価してください</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            </div>
            <div>
            <button
                type="submit"
                class="my-2 w-full rounded bg-yellow-400 py-2 hover:bg-yellow-500"
            >
                投稿する
            </button>
            </div>
        </form>
        </div>
    </div>
</div>
