<header class="bg-blue-400 p-4">
    <nav class="flex justify-between mx-auto container items-center">
        <div class="text-4xl">Sample Tailwindcss</div>
        <div class="space-x-12 font-bold">
            <a href="" class="hover:text-green-200">ホーム</a>
            <a href="" class="hover:text-green-200">ブログ</a>
            <a href="" class="hover:text-green-200">お問い合わせ</a>
        </div>
    </nav>
</header>

<div class="w-full mt-60 flex justify-center">
    <button data-tooltip-target="tooltip-default" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">hover me</button>
    <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        flowbite sample
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
</div>