<header class="bg-blue-400 p-4">
  <nav class="flex justify-between mx-auto container items-center">
    <div class="text-4xl">Sample Tailwindcss</div>
    <div class="space-x-12 font-bold">
      <a href="" class="hover:text-green-200">ホーム</a>
      <a href="" class="hover:text-green-200">ブログ</a>
      <a href="" class="hover:text-green-200">お問い合わせ</a>
    </div>
  </nav>
</header>
