services:
  db:
    build: ./infra/dev/db
    environment:
      TZ: Asia/Tokyo
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./src/db/mysql_data:/var/lib/mysql

  app:
    build:
      context: .
      dockerfile: ./infra/dev/app/Dockerfile
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - ./src:/docker-rails-test
    environment:
      RAILS_ENV: development
    tty: true
    stdin_open: true
    command: /bin/bash -c "rm -f tmp/pids/server.pid && .src/bin/dev"

  web:
    build: ./infra/dev/web
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./infra/dev/web/default.conf:/etc/nginx/conf.d/default.conf
      - ./src/public:/docker-rails-test/public

  wait:
    image: willwill/wait-for-it:latest
    depends_on:
      - db

volumes:
  db-data:
