<p>こんにちは <%= @resource.email %> 様,</p>

<p>パスワードの変更リクエストがありました。以下のリンクから新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに心当たりがない場合は、このメールを無視してください。リンクをクリックして新しいパスワードを作成するまで、パスワードは変更されません。</p>

